.App {
  text-align: left;
  background-color: #55aaaa;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
html,
body {
  margin: 0;
}
